/*CSS for form*/
/*@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}*/

#wrapper{

  width: 550px;
  height: 460px;
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  margin-left: 200px;
}
input.submit{
  height: 10em;
}
#submit{
  margin-left: 200px;
  margin-top: 10px;
  height: 10em;
  width: 100px;
}

h1{
  text-align: center;
  text-shadow: 1px 1px;
  font-size: 2.2em;
}
fieldset{
  border-radius: 25px;
  width: 400px;
  margin-left: 50px;
  margin-top: 10px;
  box-shadow: 8px 8px 3px #888888;


}
label{
    -webkit-transition: font-size 2s;
}
label:hover{
  font-size: 1.45em;
}
