<html>
<head>
    <script src="../localhost_files/ui-bootstrap-tpls-0.12.0.js"></script>
    <link href="../localhost_files/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>

</head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="https://chantal517.github.io/final/localhost.htm">Chantal Lewis</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" ng-class="!navCollapsed &amp;&amp; &#39;in&#39;">
           <ul class="nav navbar-nav">
             <li><a id="aboutMElink">AboutMe</a></li>
              <li><a id="projects">Projects</a></li>
              <li><a id="eduLink">Education</a></li>
             <li><a href="https://drive.google.com/file/d/0B4EN6Iut0CNpaG5rSVkxRGRnTG8/view">Resume</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="https://www.linkedin.com/in/chantal-lewis-544267b0" target="_blank"><img style="line-height:8px; height:22px; width:78px; padding-top:0px !important;" src="../localhost_files/linkedIn.png"></a></li>
             <li><a href="https://github.com/chantal517" target="_blank"><img style="line-height:4px height:16px; width:74px; padding-top:0px !important;" src="../localhost_files/github2.png"></a></li>
           </ul>
         </div>
       </nav>

       <div class="container">
         <div id="aboutME">
           <h2>About Me</h2>
           <p class="desc">
             Hi, thanks for visiting my website! I am a Software Engineer that </br>loves to learn about new technology.
             I am currently studying computer </br> science at the University of Missouri.I graduate in December of 2016 and I am<br>
             actively seeking entry level software engineering/new grad roles. Feel free </br> to visit my Github, LinkedIn,
             or Resume using the links above.
           </p>
         </div>
       </div>
       <div class="footer">816-214-0931
         chantallewis@mail.missouri.edu</div>
     </body>
</html>
