<html>
<head>
  <title>
    Projects
  </title>
    <script src="../localhost_files/ui-bootstrap-tpls-0.12.0.js"></script>
    <link href="../localhost_files/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>

</head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="https://chantal517.github.io/final/localhost.htm">Chantal Lewis</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" >
           <ul class="nav navbar-nav">
             <li><a id="aboutMElink">AboutMe</a></li>
              <li><a id="projects">Projects</a></li>
              <li><a id="eduLink">Education</a></li>
             <li><a href="https://drive.google.com/file/d/0B4EN6Iut0CNpaG5rSVkxRGRnTG8/view">Resume</a></li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="https://www.linkedin.com/in/chantal-lewis-544267b0" target="_blank"><img style="line-height:8px; height:22px; width:78px; padding-top:0px !important;" src="../localhost_files/linkedIn.png"></a></li>
             <li><a href="https://github.com/chantal517" target="_blank"><img style="line-height:4px height:16px; width:74px; padding-top:0px !important;" src="../localhost_files/github2.png"></a></li>
           </ul>
         </div>
       </nav>

       <div class="container">
         <div class="plus">
         <a id="show" href="#"><h3 style="display:inline">+</h3><p style="display:inline">&nbsp;Click here for Projects</p></a>
       </div>
       <div id="projectsList">
       <div id="Project1">
         <h3> RaspberryPi Temperature Collection Device</h3>
         <center><img id="rasbPiImage" src="../images/rasbPi.jpg"></center>
         <ul>
           <li>Worked in a pair to create a temperature collection device using a RaspberryPi</li>
            <li>Developed Python scripts to collect temperature every 10 minutes and send data back to a REST Endpoint</li>
            <li>Created REST Endpoint to post and retrieve temperature data from MongoDB</li>
         </ul>
      </div>
    </div>
    </div>
       <div class="footer">816-214-0931
         chantallewis@mail.missouri.edu</div>
     </body>
</html>
